<div class="userTeachers">
    <div class="userTeachers__wrapper pl__30 pt__20">
        <div class="userTeachers__title">
            <h4 class="pr__color underline">
                My teachers and tutors
            </h4>
            <p class="text pt__color d__flex jc__between pt__10">
                <span>Teachers have access to all of your Khan Academy data.</span>
                <span class="st__id">Your student id is <span class="id">kaid_746059789175043200298714.</span></span>
            </p>
        </div>
        <div class="userTeachers__details mt__30">
            <div class="row">
                <!-- Join class area -->
                <div class="col-md-6">
                    <div class="userTeachers__joinClass">
                        <h6 class="ht__color f__500">Join an existing class</h6>
                        <div class="userTeachers__joiButton mt__15">
                            <button class="btn__bgg__big">Enter a class code</button>
                        </div>
                    </div>
                </div>

                <!-- teachers area -->
                <div class="col-md-6">
                    <div class="userTeachers__tearchers">
                        <h6 class="ht__color f__500">
                            Your teachers
                        </h6>
                        <p class="no__teachers pt__color mt__20">
                            You have no coaches! Why not try adding one?
                        </p>
                    </div>
                </div>

                <!-- add teacher area -->
                <div class="col-md-12">
                    <div class="userTeachers__addTeachers mt__40">
                        <h6 class="ht__color f__500">
                            Add a teacher
                        </h6>
                        <p class="pt__color sm__text">
                            Enter your teachers's email address:
                        </p>
                        <div class="userTeachers__inputWrapper d__flex jc__between">
                            <input type="text" class="pr__input" placeholder="Email (yourteacher@example.com)">
                            <button class="btn__bgg__mid">Add a teacher</button>
                        </div>
                        <ul class="userTeachers__teachersList">
                            <li class="userTechers__teachersListItem d__flex">
                                <div class="teacherImg">
                                    <img src="assets/img/teacher1.png" alt="Teacher Image">
                                </div>
                                <div class="teachersInfo">
                                    <p class="teacher__name f__500">Jack Gleeson</p>
                                    <p class="teacher__faculty">Language Teacher</p>
                                </div>
                                <div class="chat__button">
                                    <span class="c__button">
                                        <img src="assets/img/icons/chat.png" alt="Chat icon">
                                    </span>
                                </div>
                            </li>
                            <li class="userTechers__teachersListItem d__flex">
                                <div class="teacherImg">
                                    <img src="assets/img/teacher5.png" alt="Teacher Image">
                                </div>
                                <div class="teachersInfo">
                                    <p class="teacher__name f__500">John Mathew</p>
                                    <p class="teacher__faculty">Math Professor</p>
                                </div>
                                <div class="chat__button">
                                    <span class="c__button">
                                        <img src="assets/img/icons/chat.png" alt="Chat icon">
                                    </span>
                                </div>
                            </li>
                            <li class="userTechers__teachersListItem d__flex">
                                <div class="teacherImg">
                                    <img src="assets/img/teacher2.png" alt="Teacher Image">
                                </div>
                                <div class="teachersInfo">
                                    <p class="teacher__name f__500">Natasha Mathew </p>
                                    <p class="teacher__faculty">Physic Professor</p>
                                </div>
                                <div class="chat__button">
                                    <span class="c__button">
                                        <img src="assets/img/icons/chat.png" alt="Chat icon">
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
