<div class="userDiscussions">
    <div class="userDiscussions__wrapper pl__20 pt__20">
        <div class="userDiscussions__title">
            <h4 class="pr__color underline">My discussions</h4>
            <p class="ht__color mt__10">
                Shows your participation in community discussion.
            </p>
        </div>
        <div class="userDiscussions__tab mt__25">
            <tabset>
                <tab heading="Summary" id="tab1">
                    <div class="userDiscussions__tabContent">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="userDiscussions__discussionsBox">
                                    <h6 class="ht__color f__500">
                                        Questions
                                        <span class="pr__color f__right connter">
                                            (0 total)
                                        </span>
                                    </h6>
                                    <div class="userDiscussions__discussionsBoxText">
                                        <p>
                                            Ask questions underneath ant video. If you're unsure about something. you 
                                            should ask. You'll learn from the community and help others who have the 
                                            same question.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="userDiscussions__discussionsBox">
                                    <h6 class="ht__color f__500">
                                        Badge
                                        <span class="pr__color f__right connter">
                                            (0 total)
                                        </span>
                                    </h6>
                                    <div class="userDiscussions__discussionsBoxText">
                                        <p>
                                            Ask questions underneath ant video. If you're unsure about something. you 
                                            should ask. You'll learn from the community and help others who have the 
                                            same question.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="userDiscussions__discussionsBox">
                                    <h6 class="ht__color f__500">
                                        Answers
                                        <span class="pr__color f__right connter">
                                            (0 total)
                                        </span>
                                    </h6>
                                    <div class="userDiscussions__discussionsBoxText">
                                        <p>
                                            Ask questions underneath ant video. If you're unsure about something. you 
                                            should ask. You'll learn from the community and help others who have the 
                                            same question.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="userDiscussions__discussionsBox">
                                    <h6 class="ht__color f__500">
                                        Statistics
                                        <span class="pr__color f__right connter">
                                            (0 total)
                                        </span>
                                    </h6>
                                    <div class="userDiscussions__statisticsBox">
                                        <p class="d__flex jc__between ">
                                            <span class="st__title">0 questions</span>
                                            <span class="st__counter">0 votes</span>
                                        </p>
                                        <p class="d__flex jc__between ">
                                            <span class="st__title">0 answers</span>
                                            <span class="st__counter">0 flags raised</span>
                                        </p>
                                        <p class="d__flex jc__between ">
                                            <span class="st__title">0 comments</span>
                                            <span class="st__counter">0 tips and thanks</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="userDiscussions__discussionsBox">
                                    <h6 class="ht__color f__500">
                                        Comments
                                        <span class="pr__color f__right connter">
                                            (0 total)
                                        </span>
                                    </h6>
                                    <div class="userDiscussions__discussionsBoxText">
                                        <p>
                                            No comments made yet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="userDiscussions__discussionsBox">
                                    <h6 class="ht__color f__500">
                                        Tips and Thanks
                                        <span class="pr__color f__right connter">
                                            (0 total)
                                        </span>
                                    </h6>
                                    <div class="userDiscussions__discussionsBoxText">
                                        <p>
                                            No tips or thanks made yet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Questions">
                    <div class="userDiscussions__tabContent">
                        <h6>No Questoin yet</h6>
                    </div>
                </tab>
                <tab heading="Answers">
                    <div class="userDiscussions__tabContent">
                        <h6>No Answer yet</h6>
                    </div>
                </tab>
                <tab heading="Comments">
                    <div class="userDiscussions__tabContent">
                        <h6>No Comments yet</h6>
                    </div>
                </tab>
                <tab heading="Tips & Thanks">
                    <div class="userDiscussions__tabContent">
                        <h6>No Tips & Thanks yet</h6>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
