<div class="signIn mt__80">
    <div class="container">
        <div class="row jc__between ai__center">
            <div class="col-lg-5 col-md-7">
                <div class="signIn__title">
                    <h3 class="ht__color">
                        Lets start now.
                    </h3>
                    <p class="pt__color">
                        Starts Learning, Teaching anytime any ware.
                    </p>
                    <span class="sign__up__link d__none mb__dshow">Dont have an account? <span class="pr__color sign__up" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up</span></span>
                </div>
                <div class="signIn__formWrapper ">
                    <div class="signIn__singleInput">
                        <label class="ht__color" for="">Your email address</label>
                        <div class="signIn__inputWrapper p__relative">
                            <input type="email" class="pr__input" placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="signIn__singleInput">
                        <label class="ht__color" for="">Your password</label>
                        <div class="signIn__inputWrapper p__relative">
                            <input type="password" class="pr__input" placeholder="enter your password">
                            <div class="signIn__showpassButton">
                                <span class="material-icons">
                                    visibility
                                </span>
                            </div>
                            <div class="signIn__forgetpassButton">
                                <span class="mh__color">forget password? </span>
                            </div>
                        </div>
                    </div>
                    <div class="signIn__submitButton">
                        <button class="btn__submit">Sign in</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 mb__dnone">
                <div class="signIn__banner">
                    <img src="assets/img/signinbanner.png" alt="Sign in banner">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="height__gap150 mb__dnone"></div>