 <!--Hero banner start  -->
 <section class="heroBanner">
    <div class="container">
        <div class="heroBanner__content">
            <div class="row ai__center">
                <div class="col-lg-5 col-md-6">
                    <div class="heroBanner__content--left">
                        <h2 class="hs__title ht__color mb__10">
                            THE ONLINE classroom
                            learn from home
                        </h2>
                        <p class="hs__text pt__color mb__80">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et dolore.
                        </p>
                        <div class="hs__btn d__flex">
                            <button class="hs__button">Learners</button>
                            <button class="hs__button">Teachers</button>
                            <button class="hs__button">Parents</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="heroBanner__content--right">
                        <div class="img__wrapper">
                            <img src="assets/img/header-banner.png" alt="Hero Banner" class="hs__bannerimg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero banner end  -->

<div class="height__gap50"></div>

<!-- Feature area start -->
<div class="feature">
    <div class="feature__title text-center ht__color mb__50">
        <h3>
            Features and facilities
        </h3>
    </div>
    <div class="feature__container">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 xss__grid">
                <div class="feature__singleFeature text-center">
                    <div class="feature__singleFeature--icon">
                        <img src="assets/img/education.png" alt="Icon">
                    </div>
                    <div class="feature__singleFeature--title">
                        <span class="ht__color">100,000 online courses</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 xss__grid">
                <div class="feature__singleFeature text-center">
                    <div class="feature__singleFeature--icon">
                        <img src="assets/img/surface1.png" alt="Icon">
                    </div>
                    <div class="feature__singleFeature--title">
                        <span class="ht__color">Expert instruction</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 xss__grid">
                <div class="feature__singleFeature text-center">
                    <div class="feature__singleFeature--icon">
                        <img src="assets/img/school.png" alt="Icon">
                    </div>
                    <div class="feature__singleFeature--title">
                        <span class="ht__color">Special Courses</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 xss__grid">
                <div class="feature__singleFeature text-center">
                    <div class="feature__singleFeature--icon">
                        <img src="assets/img/film.png" alt="">
                    </div>
                    <div class="feature__singleFeature--title">
                        <span class="ht__color">Live Video Classess</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature area end -->
<div class="height__gap150"></div>

<!-- Live class area start -->
<div class="liveClass">
    <div class="container">
        <div class="row tma__center">
            <div class="col-lg-6 col-md-5">
                <div class="liveClass__banner">
                    <div class="img__wrapper">
                        <img src="assets/img/video-section-banner.png" alt="Live class Banner">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="liveClass__content pt__30">
                    <h6 class="mn__title mh__color f__400">
                        TEACHERS and student
                    </h6>
                    <h3 class="title ht__color">
                        Join our live video classess
                    </h3>
                    <p class="pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanct us est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua.
                    </p>
                    <button class="btn__bgw__big">
                        Join Our Live Class
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Live class area start -->

<div class="height__gap50"></div>

<!--Recommened Classes slider start -->
<div class="rclassesSlider">
    <div class="container">
        <div class="rclassesSlider__titleWrap">
            <h6 class="mn__title mh__color f__400">
                LEARNERS AND STUDENTS
            </h6>
            <h3 class="mb__30">Recommened Classes</h3>
        </div>
        <div class="rclassesSlider__container swiper-container">
            <swiper [config]="config" class="rclassesSlider__wrapper swiper-wrapper pb__50">
                <div class="rclassesSlider__singleClass">
                    <div class="rclassesSlider__singleClass--img">
                        <img src="assets/img/cslider1.png" alt="Slider image">
                    </div>
                    <div class="rclassesSlider__singleClass__content p__15">
                        <div class="rclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="rclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rclassesSlider__singleClass">
                    <div class="rclassesSlider__singleClass--img">
                        <img src="assets/img/cslider2.png" alt="Slider image">
                    </div>
                    <div class="rclassesSlider__singleClass__content p__15">
                        <div class="rclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="rclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rclassesSlider__singleClass">
                    <div class="rclassesSlider__singleClass--img">
                        <img src="assets/img/cslider3.png" alt="Slider image">
                    </div>
                    <div class="rclassesSlider__singleClass__content p__15">
                        <div class="rclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="rclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rclassesSlider__singleClass">
                    <div class="rclassesSlider__singleClass--img">
                        <img src="assets/img/cslider4.png" alt="Slider image">
                    </div>
                    <div class="rclassesSlider__singleClass__content p__15">
                        <div class="rclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="rclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper>
        </div>
    </div>
</div>
<!-- Recommened Classes slider end -->

<div class="height__gap100"></div>

   
<!-- Teacher intro area start -->
<div class="teacahersIntro">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6">
                <div class="teacahersIntro__banner">
                    <img src="assets/img/teacher-banner.png" alt="Teacher banner">
                </div>
            </div>
            <div class="col-md-6">
                <div class="teacahersIntro__content">
                    <h6 class="mn__title mh__color f__400">
                        TEACHERS
                    </h6>
                    <h3 class="m__title ht__color">
                        Differentiate your classroom
                        and engage every
                        student.
                    </h3>
                    <p class="pt__color">
                        We empower teachers to support their entire classroom.
                        90% of US teachers who have used Khan Academy have found us effective.
                    </p>
                    <button class="btn__bgw__big">
                        Teachers starts here
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher area end -->

<div class="height__gap100"></div>


<!--More Classes slider start -->
<div class="mclassesSlider">
    <div class="container">
        <div class="mclassesSlider__titleWrap">
            <h6 class="mn__title mh__color f__400">
                More classes
            </h6>
            <h3 class="mb__30">Students online Classes</h3>
        </div>
        <div class="mclassesSlider__container swiper-container">
            <swiper [config]="config2" class="mclassesSlider__wrapper swiper-wrapper pb__50">
                <div class="mclassesSlider__singleClass swiper-slide">
                    <div class="mclassesSlider__singleClass--img">
                        <img src="assets/img/rslider1.png" alt="Slider image">
                    </div>
                    <div class="mclassesSlider__singleClass__content p__15">
                        <div class="mclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="mclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mclassesSlider__singleClass swiper-slide">
                    <div class="mclassesSlider__singleClass--img">
                        <img src="assets/img/rslider2.png" alt="Slider image">
                    </div>
                    <div class="mclassesSlider__singleClass__content p__15">
                        <div class="mclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="mclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mclassesSlider__singleClass swiper-slide">
                    <div class="mclassesSlider__singleClass--img">
                        <img src="assets/img/rslider3.png" alt="Slider image">
                    </div>
                    <div class="mclassesSlider__singleClass__content p__15">
                        <div class="mclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="mclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mclassesSlider__singleClass swiper-slide">
                    <div class="mclassesSlider__singleClass--img">
                        <img src="assets/img/rslider4.png" alt="Slider image">
                    </div>
                    <div class="mclassesSlider__singleClass__content p__15">
                        <div class="mclassesSlider__singleClass__content--title">
                            <span class="ht__color">
                                Product Management : Creating Compelling
                                Brand Imagery
                            </span>
                        </div>
                        <div class="mclassesSlider__singleClass__content--info d__flex jc__between ">
                            <div class="duration">
                                <span class="mh__color">01:40 min</span>
                            </div>
                            <div class="views">
                                <span class="pr__color">240,000 Views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper>
        </div>
    </div>
</div>
<!-- more Classes slider end -->

<div class="height__gap100"></div>

<!-- Learner area start  -->
<div class="learner">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6 tm__o2">
                <div class="learner__content">
                    <h6 class="mn__title mh__color f__400">
                        knowladge center
                    </h6>
                    <h3 class="m__title ht__color">
                        You can learn anything.So start your journey now.
                    </h3>
                    <p class="pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.'
                        eirmod tempor invidunt ut labore et dolore magna.'
                    </p>
                    <button class="btn__bgw__big">Learners starts here</button>
                </div>
            </div>
            <div class="col-md-6 tm__o1">
                <div class="learner__banner">
                    <img src="assets/img/student-banner.png" alt="learner banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Learner area end  -->

<div class="height__gap100"></div>

<!-- Popular teacher start -->
<div class="popularTeacher">
    <div class="container">
        <h3 class="m__title ht__color text-center mb__40">
            Some Popular Lecturers
        </h3>
        <div class="row">
            <div class="col-6 col-md-4 xss__grid">
                <div class="popularTeacher__singleTeacher">
                    <div class="popularTeacher__singleTeacher--img">
                        <img src="assets/img/teacher1.png" alt="Teacher image">
                    </div>
                    <div class="popularTeacher__singleTeacher--info">
                        <div class="teacher__name">
                            <span class="ht__color">
                                John Mathew
                            </span>
                        </div>
                        <div class="teacher__department">
                            <span>
                                Math Professor
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 xss__grid">
                <div class="popularTeacher__singleTeacher">
                    <div class="popularTeacher__singleTeacher--img">
                        <img src="assets/img/teacher2.png" alt="Teacher image">
                    </div>
                    <div class="popularTeacher__singleTeacher--info">
                        <div class="teacher__name">
                            <span class="ht__color">
                                Catrina John
                            </span>
                        </div>
                        <div class="teacher__department">
                            <span>
                                Physic Professor
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 xss__grid">
                <div class="popularTeacher__singleTeacher">
                    <div class="popularTeacher__singleTeacher--img">
                        <img src="assets/img/teacher3.png" alt="Teacher image">
                    </div>
                    <div class="popularTeacher__singleTeacher--info">
                        <div class="teacher__name">
                            <span class="ht__color">
                                Sansa Stark
                            </span>
                        </div>
                        <div class="teacher__department">
                            <span>
                                Art Professor
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 xss__grid">
                <div class="popularTeacher__singleTeacher">
                    <div class="popularTeacher__singleTeacher--img">
                        <img src="assets/img/teacher4.png" alt="Teacher image">
                    </div>
                    <div class="popularTeacher__singleTeacher--info">
                        <div class="teacher__name">
                            <span class="ht__color">
                                Natasha Mathew
                            </span>
                        </div>
                        <div class="teacher__department">
                            <span>
                                Language Teacher
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 xss__grid">
                <div class="popularTeacher__singleTeacher">
                    <div class="popularTeacher__singleTeacher--img">
                        <img src="assets/img/teacher5.png" alt="Teacher image">
                    </div>
                    <div class="popularTeacher__singleTeacher--info">
                        <div class="teacher__name">
                            <span class="ht__color">
                                John Bradly
                            </span>
                        </div>
                        <div class="teacher__department">
                            <span>
                                IT Professor
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 xss__grid">
                <div class="popularTeacher__singleTeacher">
                    <div class="popularTeacher__singleTeacher--img">
                        <img src="assets/img/teacher1.png" alt="Teacher image">
                    </div>
                    <div class="popularTeacher__singleTeacher--info">
                        <div class="teacher__name">
                            <span class="ht__color">
                                Jack Gleeson
                            </span>
                        </div>
                        <div class="teacher__department">
                            <span>
                                Biology Professor
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Popular teacher end -->

<div class="height__gap100"></div>

<!-- Video lesson area start -->
<div class="videoLesson">
    <div class="container">
        <h3 class="m__title ht__color  mb__30 d__none">
            Online Video lesson
        </h3>
        <div class="videoLesson__content"
            style="background: url('assets/img/video-lesson-banner.png');background-size: cover;background-position: center;">
            <div class="row">
                <div class="col-lg-5 col-md-7">
                    <div class="play__button__wrapper p__relative">
                        <div class="play__buttonbg d__none">
                            <img src="assets/img/play-button-bg.png" alt="">
                        </div>
                        <div class="play__button">
                            <span class="material-icons">play_arrow</span>
                        </div>
                    </div>
                    <h3 class="m__title pr__color">
                        Watch the video lesson
                    </h3>
                    <p class="pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    </p>
                    <p class="learn__more pr__color">
                        Learn More
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video lesson area end -->

<div class="height__gap150"></div>

<!-- Student feedback area start -->
<div class="studentFeedback">
    <div class="container">
        <h3 class="m__title ht__color mb__50 text-center">
            Students Feedback
        </h3>
        <div class="studentFeedback__content">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="studentFeedback__singleFeedback">
                        <div class="studentFeedback__singleFeedback--info d__flex ai__center mb__15">
                            <div class="student__img mr__20">
                                <img src="assets/img/student--mini1.png" alt="Student image">
                            </div>
                            <div class="subject__details">
                                <div class="subject__name">
                                    <span class="ht__color f__600">
                                        "Subject and lecture"
                                    </span>
                                </div>
                                <div class="teacher__name">
                                    <span>Name of lecturer</span>
                                </div>
                            </div>
                        </div>
                        <div class="studentFeedback__singleFeedback__text p__relative">
                            <p class="mh__color">
                                "Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et
                                dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo
                                duo dolores et ea rebum"
                            </p>
                            <p class="student__name ml-auto mt__30 text-right f__600">
                                John Mathew
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="studentFeedback__singleFeedback">
                        <div class="studentFeedback__singleFeedback--info d__flex ai__center mb__15">
                            <div class="student__img mr__20">
                                <img src="assets/img/student--mini2.png" alt="Student image">
                            </div>
                            <div class="subject__details">
                                <div class="subject__name">
                                    <span class="ht__color f__600">
                                        "Subject and lecture"
                                    </span>
                                </div>
                                <div class="teacher__name">
                                    <span>Name of lecturer</span>
                                </div>
                            </div>
                        </div>
                        <div class="studentFeedback__singleFeedback__text p__relative">
                            <p class="mh__color">
                                "Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et
                                dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo
                                duo dolores et ea rebum"
                            </p>
                            <p class="student__name ml-auto mt__30 text-right f__600">
                                Natasha Mantois
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="studentFeedback__singleFeedback">
                        <div class="studentFeedback__singleFeedback--info d__flex ai__center mb__15">
                            <div class="student__img mr__20">
                                <img src="assets/img/student--mini3.png" alt="Student image">
                            </div>
                            <div class="subject__details">
                                <div class="subject__name">
                                    <span class="ht__color f__600">
                                        "Subject and lecture"
                                    </span>
                                </div>
                                <div class="teacher__name">
                                    <span>Name of lecturer</span>
                                </div>
                            </div>
                        </div>
                        <div class="studentFeedback__singleFeedback__text p__relative">
                            <p class="mh__color">
                                "Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et
                                dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo
                                duo dolores et ea rebum"
                            </p>
                            <p class="student__name ml-auto mt__30 text-right f__600">
                                Jack Gleeson
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student feedback area end -->

<div class="height__gap150"></div>

<!-- Digital classroom area start -->
<div class="digitalClassroom">
    <div class="container mb__noPadding">
        <div class="digitalClassroom__content" style="background-image: url('assets/img/digitalclass-banner.png');background-size: cover;background-position: center;">
            <div class="digitalClassroom__content--titleArea text-center">
                <h4 class="m__title ht__color mb__20">
                    "Digital classroom learn any ware anytime"
                </h4>
                <p class="pt__color">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                    magna aliquyam erat, sed diam voluptua. At vero eos 
                    et accusam et justo duo dolores et 
                   
                </p>
            </div>
            <div class="digitalClassroom__content--btnArea d__flex">
                <button>Learners</button>
                <button>Teachers</button>
                <button>Parents</button>
                <button>Donate Today</button>
            </div>
        </div>
    </div>
</div>
<!-- Digital classroom area end -->

<div class="height__gap150"></div>