.p__0 {
  padding: 0;
}
.p__5 {
  padding: 0.5rem;
}
.p__10 {
  padding: 1rem;
}
.p__15 {
  padding: 1.5rem;
}
.p__20 {
  padding: 2rem;
}
.p__25 {
  padding: 2.5rem;
}
.p__30 {
  padding: 3rem;
}
.p__35 {
  padding: 3.5rem;
}
.p__40 {
  padding: 4rem;
}
.p__45 {
  padding: 4.5rem;
}
.p__50 {
  padding: 5rem;
}
.p__55 {
  padding: 5.5rem;
}
.p__60 {
  padding: 6rem;
}
.p__65 {
  padding: 6.5rem;
}
.p__70 {
  padding: 7rem;
}
.p__75 {
  padding: 7.5rem;
}
.p__80 {
  padding: 8rem;
}
.p__85 {
  padding: 8.5rem;
}
.p__90 {
  padding: 9rem;
}
.p__95 {
  padding: 9.5rem;
}
.p__100 {
  padding: 10rem;
}

.pt__0 {
  padding-top: 0;
}
.pt__5 {
  padding-top: 0.5rem;
}
.pt__10 {
  padding-top: 1rem;
}
.pt__15 {
  padding-top: 1.5rem;
}
.pt__20 {
  padding-top: 2rem;
}
.pt__25 {
  padding-top: 2.5rem;
}
.pt__30 {
  padding-top: 3rem;
}
.pt__35 {
  padding-top: 3.5rem;
}
.pt__40 {
  padding-top: 4rem;
}
.pt__45 {
  padding-top: 4.5rem;
}
.pt__50 {
  padding-top: 5rem;
}
.pt__55 {
  padding-top: 5.5rem;
}
.pt__60 {
  padding-top: 6rem;
}
.pt__65 {
  padding-top: 6.5rem;
}
.pt__70 {
  padding-top: 7rem;
}
.pt__75 {
  padding-top: 7.5rem;
}
.pt__80 {
  padding-top: 8rem;
}
.pt__85 {
  padding-top: 8.5rem;
}
.pt__90 {
  padding-top: 9rem;
}
.pt__95 {
  padding-top: 9.5rem;
}
.pt__100 {
  padding-top: 10rem;
}

.pb__0 {
  padding-bottom: 0;
}
.pb__5 {
  padding-bottom: 0.5rem;
}
.pb__10 {
  padding-bottom: 1rem;
}
.pb__15 {
  padding-bottom: 1.5rem;
}
.pb__20 {
  padding-bottom: 2rem;
}
.pb__25 {
  padding-bottom: 2.5rem;
}
.pb__30 {
  padding-bottom: 3rem;
}
.pb__35 {
  padding-bottom: 3.5rem;
}
.pb__40 {
  padding-bottom: 4rem;
}
.pb__45 {
  padding-bottom: 4.5rem;
}
.pb__50 {
  padding-bottom: 5rem;
}
.pb__55 {
  padding-bottom: 5.5rem;
}
.pb__60 {
  padding-bottom: 6rem;
}
.pb__65 {
  padding-bottom: 6.5rem;
}
.pb__70 {
  padding-bottom: 7rem;
}
.pb__75 {
  padding-bottom: 7.5rem;
}
.pb__80 {
  padding-bottom: 8rem;
}
.pb__85 {
  padding-bottom: 8.5rem;
}
.pb__90 {
  padding-bottom: 9rem;
}
.pb__95 {
  padding-bottom: 9.5rem;
}
.pb__100 {
  padding-bottom: 10rem;
}

.pl__0 {
  padding-left: 0;
}
.pl__5 {
  padding-left: 0.5rem;
}
.pl__10 {
  padding-left: 1rem;
}
.pl__15 {
  padding-left: 1.5rem;
}
.pl__20 {
  padding-left: 2rem;
}
.pl__25 {
  padding-left: 2.5rem;
}
.pl__30 {
  padding-left: 3rem;
}
.pl__35 {
  padding-left: 3.5rem;
}
.pl__40 {
  padding-left: 4rem;
}
.pl__45 {
  padding-left: 4.5rem;
}
.pl__50 {
  padding-left: 5rem;
}
.pl__55 {
  padding-left: 5.5rem;
}
.pl__60 {
  padding-left: 6rem;
}
.pl__65 {
  padding-left: 6.5rem;
}
.pl__70 {
  padding-left: 7rem;
}
.pl__75 {
  padding-left: 7.5rem;
}
.pl__80 {
  padding-left: 8rem;
}
.pl__85 {
  padding-left: 8.5rem;
}
.pl__90 {
  padding-left: 9rem;
}
.pl__95 {
  padding-left: 9.5rem;
}
.pl__100 {
  padding-left: 10rem;
}

.pr__0 {
  padding-right: 0;
}
.pr__5 {
  padding-right: 0.5rem;
}
.pr__10 {
  padding-right: 1rem;
}
.pr__15 {
  padding-right: 1.5rem;
}
.pr__20 {
  padding-right: 2rem;
}
.pr__25 {
  padding-right: 2.5rem;
}
.pr__30 {
  padding-right: 3rem;
}
.pr__35 {
  padding: 3.5rem;
}
.pr__40 {
  padding-right: 4rem;
}
.pr__45 {
  padding-right: 4.5rem;
}
.pr__50 {
  padding-right: 5rem;
}
.pr__55 {
  padding-right: 5.5rem;
}
.pr__60 {
  padding-right: 6rem;
}
.pr__65 {
  padding-right: 6.5rem;
}
.pr__70 {
  padding-right: 7rem;
}
.pr__75 {
  padding-right: 7.5rem;
}
.pr__80 {
  padding-right: 8rem;
}
.pr__85 {
  padding-right: 8.5rem;
}
.pr__90 {
  padding-right: 9rem;
}
.pr__95 {
  padding-right: 9.5rem;
}
.pr__100 {
  padding-right: 10rem;
}

.m__0 {
  margin: 0;
}
.m__5 {
  margin: 0.5rem;
}
.m__10 {
  margin: 1rem;
}
.m__15 {
  margin: 1.5rem;
}
.m__20 {
  margin: 2rem;
}
.m__25 {
  margin: 2.5rem;
}
.m__30 {
  margin: 3rem;
}
.m__35 {
  margin: 3.5rem;
}
.m__40 {
  margin: 4rem;
}
.m__45 {
  margin: 4.5rem;
}
.m__50 {
  margin: 5rem;
}
.m__55 {
  margin: 5.5rem;
}
.m__60 {
  margin: 6rem;
}
.m__65 {
  margin: 6.5rem;
}
.m__70 {
  margin: 7rem;
}
.m__75 {
  margin: 7.5rem;
}
.m__80 {
  margin: 8rem;
}
.m__85 {
  margin: 8.5rem;
}
.m__90 {
  margin: 9rem;
}
.m__95 {
  margin: 9.5rem;
}
.m__100 {
  margin: 10rem;
}

.mt__0 {
  margin-top: 0;
}
.mt__5 {
  margin-top: 0.5rem;
}
.mt__10 {
  margin-top: 1rem;
}
.mt__15 {
  margin-top: 1.5rem;
}
.mt__20 {
  margin-top: 2rem;
}
.mt__25 {
  margin-top: 2.5rem;
}
.mt__30 {
  margin-top: 3rem;
}
.mt__35 {
  margin-top: 3.5rem;
}
.mt__40 {
  margin-top: 4rem;
}
.mt__45 {
  margin-top: 4.5rem;
}
.mt__50 {
  margin-top: 5rem;
}
.mt__55 {
  margin-top: 5.5rem;
}
.mt__60 {
  margin-top: 6rem;
}
.mt__65 {
  margin-top: 6.5rem;
}
.mt__70 {
  margin-top: 7rem;
}
.mt__75 {
  margin-top: 7.5rem;
}
.mt__80 {
  margin-top: 8rem;
}
.mt__85 {
  margin-top: 8.5rem;
}
.mt__90 {
  margin-top: 9rem;
}
.mt__95 {
  margin-top: 9.5rem;
}
.mt__100 {
  margin-top: 10rem;
}

.mb__0 {
  margin-bottom: 0;
}
.mb__5 {
  margin-bottom: 0.5rem;
}
.mb__10 {
  margin-bottom: 1rem;
}
.mb__15 {
  margin-bottom: 1.5rem;
}
.mb__20 {
  margin-bottom: 2rem;
}
.mb__25 {
  margin-bottom: 2.5rem;
}
.mb__30 {
  margin-bottom: 3rem;
}
.mb__35 {
  margin-bottom: 3.5rem;
}
.mb__40 {
  margin-bottom: 4rem;
}
.mb__45 {
  margin-bottom: 4.5rem;
}
.mb__50 {
  margin-bottom: 5rem;
}
.mb__55 {
  margin-bottom: 5.5rem;
}
.mb__60 {
  margin-bottom: 6rem;
}
.mb__65 {
  margin-bottom: 6.5rem;
}
.mb__70 {
  margin-bottom: 7rem;
}
.mb__75 {
  margin-bottom: 7.5rem;
}
.mb__80 {
  margin-bottom: 8rem;
}
.mb__85 {
  margin-bottom: 8.5rem;
}
.mb__90 {
  margin-bottom: 9rem;
}
.mb__95 {
  margin-bottom: 9.5rem;
}
.mb__100 {
  margin-bottom: 10rem;
}

.ml__0 {
  margin-left: 0;
}
.ml__5 {
  margin-left: 0.5rem;
}
.ml__10 {
  margin-left: 1rem;
}
.ml__15 {
  margin-left: 1.5rem;
}
.ml__20 {
  margin-left: 2rem;
}
.ml__25 {
  margin-left: 2.5rem;
}
.ml__30 {
  margin-left: 3rem;
}
.ml__35 {
  margin-left: 3.5rem;
}
.ml__40 {
  margin-left: 4rem;
}
.ml__45 {
  margin-left: 4.5rem;
}
.ml__50 {
  margin-left: 5rem;
}
.ml__55 {
  margin-left: 5.5rem;
}
.ml__60 {
  margin-left: 6rem;
}
.ml__65 {
  margin-left: 6.5rem;
}
.ml__70 {
  margin-left: 7rem;
}
.ml__75 {
  margin-left: 7.5rem;
}
.ml__80 {
  margin-left: 8rem;
}
.ml__85 {
  margin-left: 8.5rem;
}
.ml__90 {
  margin-left: 9rem;
}
.ml__95 {
  margin-left: 9.5rem;
}
.ml__100 {
  margin-left: 10rem;
}

.mr__0 {
  margin-top: 0;
}
.mr__5 {
  margin-right: 0.5rem;
}
.mr__10 {
  margin-right: 1rem;
}
.mr__15 {
  margin-right: 1.5rem;
}
.mr__20 {
  margin-right: 2rem;
}
.mr__25 {
  margin-right: 2.5rem;
}
.mr__30 {
  margin-right: 3rem;
}
.mr__35 {
  margin-right: 3.5rem;
}
.mr__40 {
  margin-right: 4rem;
}
.mr__45 {
  margin-right: 4.5rem;
}
.mr__50 {
  margin-right: 5rem;
}
.mr__55 {
  margin-right: 5.5rem;
}
.mr__60 {
  margin-right: 6rem;
}
.mr__65 {
  margin-right: 6.5rem;
}
.mr__70 {
  margin-right: 7rem;
}
.mr__75 {
  margin-right: 7.5rem;
}
.mr__80 {
  margin-right: 8rem;
}
.mr__85 {
  margin-right: 8.5rem;
}
.mr__90 {
  margin-right: 9rem;
}
.mr__95 {
  margin-right: 9.5rem;
}
.mr__100 {
  margin-right: 10rem;
}

.height__gap50 {
  position: relative;
  display: block;
  width: 100%;
  height: 5rem;
}
.height__gap100 {
  position: relative;
  display: block;
  width: 100%;
  height: 10rem;
}
.height__gap150 {
  position: relative;
  display: block;
  width: 100%;
  height: 15rem;
}
.height__gap200 {
  position: relative;
  display: block;
  width: 100%;
  height: 20rem;
}


// Responsive style
@media screen and (max-width:992px){
  .height__gap100{
    height: 8rem;
  }
  .height__gap150{
    height: 10rem;
  }
  .tma__center{
    align-items: center;
  }
}

@media screen and (max-width:768px){
  .height__gap100{
    height: 6rem;
  }
  .height__gap150{
    height: 8rem;
  }
  .height__gap50 {
    position: relative;
    display: block;
    width: 100%;
    height: 3rem;
  }
}

@media screen and (max-width:575px){
  .height__gap100{
    height: 4rem;
  }
  .height__gap150{
    height: 5rem;
  }
  .height__gap50 {
    position: relative;
    display: block;
    width: 100%;
    height: 2rem;
  }
}