<div class="userProgress">
    <div class="userProgress__content">
        <div class="userProgress____secTitle pl__30 pt__20">
            <h4 class="pr__color underline">
                My Progress
            </h4>
            <p class="pt__color mt__10">
                Latest activity may take 10 mins to show below.
            </p>
        </div>
    </div>
    <div class="userProgress__header pl__30 pt__20 p__relative">
        <div class="row">
            <div class="col-6 col-xl-3 col-lg-4 col-md-4">
                <div class="userProgress__daysFilter">
                    <div class="cs__select">
                        <select class="pr__select" name="" id="">
                            <option value="Today">Today</option>
                            <option value="7 days">Last 7 days</option>
                            <option value="30 days">Last 30 days</option>
                            <option value="Custom">Custom range</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-4 col-md-4">
                <div class="userProgress__contentFilter">
                    <div class="cs__select">
                        <select class="pr__select" name="" id="">
                            <option value="Today">All content</option>
                            <option value="7 days">Course mastery goalss</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-4 col-md-4">
                <div class="userProgress__activitiesFilter">
                    <div class="cs__select">
                        <select class="pr__select" name="" id="">
                            <option value="Today">All activities</option>
                            <option value="7 days">Course mastery goalss</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3 col-lg-4 col-md-4 status__wrapper">
                <div class="userProgress__status d__flex jc__end">
                    <div class="userProgress__exeriseminStatus">
                        <span class="number">0</span>
                        <span>Exerisemin</span>
                    </div> 
                    <div class="userProgress__learningStatus">
                        <span class="number">0</span>
                        <span>Total Learning</span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="userProgress__progressTable pl__30 pt__20">
        <div class="userProgress__tableWrapper">
            <table class="userProgress__table">
                <thead>
                    <tr>
                        <th>ACTIVITY</th>
                        <th>DATE</th>
                        <th>LEVEL</th>
                        <th>CHANGE</th>
                        <th>TOTAL PROBLEMS</th>
                        <th>TIME</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="ACTIVITY">
                            <span class="icon">
                                <img src="assets/img/icons/v-icon.png" alt="Icon">
                            </span>
                            <span class="ht__color">Carbon as a building block of life</span>
                        </td>
                        <td data-title="DATE">AUG-14-2020</td>
                        <td data-title="LEVEL">01</td>
                        <td data-title="CHANGE">-</td>
                        <td data-title="TOTAL PROBLEMS">-</td>
                        <td data-title="TIME">10 MIN</td>
                    </tr>
                    <tr>
                        <td data-title="ACTIVITY">
                            <span class="icon">
                                <img src="assets/img/icons/v-icon.png" alt="Icon">
                            </span>
                            <span class="ht__color">Carbon as a building block of life</span>
                        </td>
                        <td data-title="DATE">AUG-14-2020</td>
                        <td data-title="LEVEL">01</td>
                        <td data-title="CHANGE">-</td>
                        <td data-title="TOTAL PROBLEMS">-</td>
                        <td data-title="TIME">10 MIN</td>
                    </tr>
                    <tr>
                        <td data-title="ACTIVITY">
                            <span class="icon">
                                <img src="assets/img/icons/v-icon.png" alt="Icon">
                            </span>
                            <span class="ht__color">Carbon as a building block of life</span>
                        </td>
                        <td data-title="DATE">AUG-14-2020</td>
                        <td data-title="LEVEL">01</td>
                        <td data-title="CHANGE">-</td>
                        <td data-title="TOTAL PROBLEMS">-</td>
                        <td data-title="TIME">10 MIN</td>
                    </tr>
                    <tr>
                        <td data-title="ACTIVITY">
                            <span class="icon">
                                <img src="assets/img/icons/v-icon.png" alt="Icon">
                            </span>
                            <span class="ht__color">Carbon as a building block of life</span>
                        </td>
                        <td data-title="DATE">AUG-14-2020</td>
                        <td data-title="LEVEL">01</td>
                        <td data-title="CHANGE">-</td>
                        <td data-title="TOTAL PROBLEMS">-</td>
                        <td data-title="TIME">10 MIN</td>
                    </tr>
                    <tr>
                        <td data-title="ACTIVITY">
                            <span class="icon">
                                <img src="assets/img/icons/v-icon.png" alt="Icon">
                            </span>
                            <span class="ht__color">Carbon as a building block of life</span>
                        </td>
                        <td data-title="DATE">AUG-14-2020</td>
                        <td data-title="LEVEL">01</td>
                        <td data-title="CHANGE">-</td>
                        <td data-title="TOTAL PROBLEMS">-</td>
                        <td data-title="TIME">10 MIN</td>
                    </tr>
                    <tr>
                        <td data-title="ACTIVITY">
                            <span class="icon">
                                <img src="assets/img/icons/v-icon.png" alt="Icon">
                            </span>
                            <span class="ht__color">Carbon as a building block of life</span>
                        </td>
                        <td data-title="DATE">AUG-14-2020</td>
                        <td data-title="LEVEL">01</td>
                        <td data-title="CHANGE">-</td>
                        <td data-title="TOTAL PROBLEMS">-</td>
                        <td data-title="TIME">10 MIN</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>