<div class="chatPage">
    <div class="row no-gutters">
        <div class="col-md-3 col-lg-3 b__right">
            <div class="chatPage__sidebar">
                <div class="chatPage__sideBarTitle">
                    <h6 class="title ht__color f__500">
                        <span class="icon">
                            <img src="assets/img/icons/video-chat.png" alt="Video chat icon">
                        </span>
                        Start chat with your teachers
                    </h6>
                </div>
                <div class="chatPage__teachers">
                    <ul class="chatPage__teachersList">
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/teacher1.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/teacher2.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/teacher5.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/teacher4.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/teacher5.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/teacher6.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                        <li class="chatPage__teachersListItem d__flex">
                            <div class="teacher__img">
                                <img src="assets/img/student--mini3.png" alt="">
                            </div>
                            <div class="teacher__info">
                                <p class="teacher__name ht__color f__600">Jaber Ahmed</p>
                                <span class="d__block teacher__faculty">Math: Pre-K - 3rd grade</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-lg-9">
            <div class="chatPage__chatMain">
                <div class="chatPage__chatMessages" id="chatMessages">
                    <div class="chatPage__chatSingleMessage user__side">
                        <div class="inner__box userMessageBox d__flex">
                            <div class="user__img img__box">
                                <img src="assets/img/teacher3.png" alt="">
                            </div>
                            <div class="user__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage teacher__side">
                        <div class="inner__box teacherMessageBox d__flex">
                            <div class="teacher__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                            <div class="teacher__img img__box">
                                <img src="assets/img/teacher2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage user__side">
                        <div class="inner__box userMessageBox d__flex">
                            <div class="user__img img__box">
                                <img src="assets/img/teacher3.png" alt="">
                            </div>
                            <div class="user__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage teacher__side">
                        <div class="inner__box teacherMessageBox d__flex">
                            <div class="teacher__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                            <div class="teacher__img img__box">
                                <img src="assets/img/teacher2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage user__side">
                        <div class="inner__box userMessageBox d__flex">
                            <div class="user__img img__box">
                                <img src="assets/img/teacher3.png" alt="">
                            </div>
                            <div class="user__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage teacher__side">
                        <div class="inner__box teacherMessageBox d__flex">
                            <div class="teacher__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                            <div class="teacher__img img__box">
                                <img src="assets/img/teacher2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage user__side">
                        <div class="inner__box userMessageBox d__flex">
                            <div class="user__img img__box">
                                <img src="assets/img/teacher3.png" alt="">
                            </div>
                            <div class="user__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="chatPage__chatSingleMessage teacher__side">   
                        <div class="inner__box teacherMessageBox d__flex">
                            <div class="teacher__message">
                                <div class="m__box">
                                    <span class="time">5.00 PM</span>   
                                    <span class="message__text">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                    </span>
                                </div>
                                <span class="seen__status gr__color">
                                    <span class="material-icons">
                                        done_all
                                    </span>
                                    Seen
                                </span>
                            </div>
                            <div class="teacher__img img__box">
                                <img src="assets/img/teacher2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chatPage__chatBox">
                    <div class="chatPage__chatBoxInner d__flex ai__center">
                        <div class="chat__input">
                            <input type="text" class="chat" placeholder="Type your message">
                        </div>
                        <div class="attach__button">
                            <span class="material-icons">
                                attach_file
                            </span>
                        </div>
                        <div class="send__button">
                            <button>
                                <img src="assets/img/icons/send.png" alt="Send icon">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


