<div class="signUp mt__80">
    <div class="container">
        <div class="row jc__between ai__center">
            <div class="col-lg-7 col-md-12">
                <div class="signUp__title">
                    <h3 class="ht__color">
                        Start your journey now.
                    </h3>
                    <p class="pt__color">
                        Starts Learning, Teaching anytime any ware.
                    </p>
                </div>
                <div class="signUp__formWrapper ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="signUp__singleInput">
                                <label class="ht__color" for="">First name</label>
                                <div class="signUp__inputWrapper p__relative">
                                    <input type="text" class="pr__input" placeholder="Your first name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signUp__singleInput">
                                <label class="ht__color" for="">Last name</label>
                                <div class="signUp__inputWrapper p__relative">
                                    <input type="text" class="pr__input" placeholder="Your last name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signUp__singleInput">
                                <label class="ht__color" for="">Email address</label>
                                <div class="signUp__inputWrapper p__relative">
                                    <input type="email" class="pr__input" placeholder="email@example.com">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signUp__singleInput">
                                <label class="ht__color" for="">Categories</label>
                                <div class="signUp__inputWrapper p__relative cs__select">
                                    <select class="pr__select" name="" id="">
                                        <option value="">Category</option>
                                        <option value="">Teacher</option>
                                        <option value="">Student</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signUp__singleInput">
                                <label class="ht__color" for="">Your password</label>
                                <div class="signUp__inputWrapper p__relative">
                                    <input type="password" class="pr__input" placeholder="Your password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="signUp__singleInput">
                                <label class="ht__color" for="">Confirm  password</label>
                                <div class="signUp__inputWrapper p__relative">
                                    <input type="password" class="pr__input" placeholder="Confirm your password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="signUp__singleInput">
                                <label class="checkbox__conatiner">
                                    I agree to the processing and sharing of my personal data as required
                                    to use the service and as outlined within the Terms and
                                    Conditions and Privacy Policy
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="signUp__submitButton">
                        <button class="btn__submit">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 mb__dnone">
                <div class="signUp__banner">
                    <img src="assets/img/signupbg.png" alt="Sign in banner">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="height__gap150"></div>