<div class="userBadges">
    <div class="userBadges__wrapper pl__20 pt__20">
        <div class="userBadges__title">
            <h4 class="pr__color underline">
                My badges
            </h4>
            <span class="f__right pr__color c__pointer">Check for new badges and avatar</span>
        </div>
        <div class="userBages__badgesTabs mt__30">
            <tabset>  
                <tab>
                    <ng-template tabHeading>
                        <span class="userBadges__badgesTabTitle d__block text-center">
                            <img src="assets/img/icons/009-third-rank.png" alt="Badge Icon">
                            <span class="d__block">Challenge Patches</span>
                        </span>
                    </ng-template>
                    <div class="userBadges__tabContent mt__40">
                        <div class="tabContent__title mb__30">
                            <h4 class="pr__color underline">
                                Possible Badge
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon1.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Just getting stared</h6>
                                        <p>
                                            Achieve mastery in 3 unique
                                            skill 
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon2.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Picking Up stream</h6>
                                        <p>
                                            Quickly & correctly answer 5 skill
                                            problem in a raw (time limit depends 
                                            on skill difficulty)
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon3.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Making progress</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon4.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Apprentice Programer</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon5.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Mad Scientist</h6>
                                        <p>
                                            Make Changes to on official program
                                        </p>
                                    </div>  
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon6.png" alt="">
                                    </div>  
                                    <div class="badge__info">
                                        <h6>Collaborator</h6>
                                        <p>
                                            Make Changes to another user's 
                                            program
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon7.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Programing scholar</h6>
                                        <p>
                                            Finish watching a computer 
                                            programming talk-through 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon7.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Challenger</h6>
                                        <p>
                                            Complete a coding challenge  
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon8.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>You can learn 
                                            anything</h6>
                                        <p>
                                            You only have to know one thing you can
                                            learn anything. Join the movement. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Crypess</h6>
                                        <p>
                                            Remain a member of yoacademy
                                            or one year.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Ten to the Fourth</h6>
                                        <p>
                                            Earn 10,000 energy points
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Nice streak</h6>
                                        <p>
                                            Correctly answer 20 problems in a 
                                            raw in a single skill 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <span class="userBadges__badgesTabTitle d__block text-center">
                            <img src="assets/img/icons/008-number-1.png" alt="Badge Icon">
                            <span class="d__block">The golden one</span>
                        </span>
                    </ng-template>
                    <div class="userBadges__tabContent mt__40">
                        <div class="tabContent__title mb__30">
                            <h4 class="pr__color underline">
                                Possible Badge
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon1.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Just getting stared</h6>
                                        <p>
                                            Achieve mastery in 3 unique
                                            skill 
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon2.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Picking Up stream</h6>
                                        <p>
                                            Quickly & correctly answer 5 skill
                                            problem in a raw (time limit depends 
                                            on skill difficulty)
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon3.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Making progress</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon8.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>You can learn 
                                            anything</h6>
                                        <p>
                                            You only have to know one thing you can
                                            learn anything. Join the movement. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Crypess</h6>
                                        <p>
                                            Remain a member of yoacademy
                                            or one year.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Ten to the Fourth</h6>
                                        <p>
                                            Earn 10,000 energy points
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Nice streak</h6>
                                        <p>
                                            Correctly answer 20 problems in a 
                                            raw in a single skill 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <span class="userBadges__badgesTabTitle d__block text-center">
                            <img src="assets/img/icons/007-number-2.png" alt="Badge Icon">
                            <span class="d__block">The golden Two</span>
                        </span>
                    </ng-template>
                    <div class="userBadges__tabContent mt__40">
                        <div class="tabContent__title mb__30">
                            <h4 class="pr__color underline">
                                Possible Badge
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon5.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Mad Scientist</h6>
                                        <p>
                                            Make Changes to on official program
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon6.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Collaborator</h6>
                                        <p>
                                            Make Changes to another user's 
                                            program
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon7.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Programing scholar</h6>
                                        <p>
                                            Finish watching a computer 
                                            programming talk-through 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon7.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Challenger</h6>
                                        <p>
                                            Complete a coding challenge  
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon8.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>You can learn 
                                            anything</h6>
                                        <p>
                                            You only have to know one thing you can
                                            learn anything. Join the movement. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Crypess</h6>
                                        <p>
                                            Remain a member of yoacademy
                                            or one year.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Ten to the Fourth</h6>
                                        <p>
                                            Earn 10,000 energy points
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Nice streak</h6>
                                        <p>
                                            Correctly answer 20 problems in a 
                                            raw in a single skill 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <span class="userBadges__badgesTabTitle d__block text-center">
                            <img src="assets/img/icons/006-number-3.png" alt="Badge Icon">
                            <span class="d__block">The golden Tree</span>
                        </span>
                    </ng-template>
                    <div class="userBadges__tabContent mt__40">
                        <div class="tabContent__title mb__30">
                            <h4 class="pr__color underline">
                                Possible Badge
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon1.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Just getting stared</h6>
                                        <p>
                                            Achieve mastery in 3 unique
                                            skill 
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon2.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Picking Up stream</h6>
                                        <p>
                                            Quickly & correctly answer 5 skill
                                            problem in a raw (time limit depends 
                                            on skill difficulty)
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon3.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Making progress</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon4.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Apprentice Programer</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon5.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Mad Scientist</h6>
                                        <p>
                                            Make Changes to on official program
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Crypess</h6>
                                        <p>
                                            Remain a member of yoacademy
                                            or one year.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Ten to the Fourth</h6>
                                        <p>
                                            Earn 10,000 energy points
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon9.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Nice streak</h6>
                                        <p>
                                            Correctly answer 20 problems in a 
                                            raw in a single skill 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <span class="userBadges__badgesTabTitle d__block text-center">
                            <img src="assets/img/icons/005-medal-1.png" alt="Badge Icon">
                            <span class="d__block">The bronze one</span>
                        </span>
                    </ng-template>
                    <div class="userBadges__tabContent mt__40">
                        <div class="tabContent__title mb__30">
                            <h4 class="pr__color underline">
                                Possible Badge
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon1.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Just getting stared</h6>
                                        <p>
                                            Achieve mastery in 3 unique
                                            skill 
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon2.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Picking Up stream</h6>
                                        <p>
                                            Quickly & correctly answer 5 skill
                                            problem in a raw (time limit depends 
                                            on skill difficulty)
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon3.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Making progress</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                    <span class="badge__earnPoints">
                                        100
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon4.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Apprentice Programer</h6>
                                        <p>
                                            Achieve mastery in 7 unique skill
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon5.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Mad Scientist</h6>
                                        <p>
                                            Make Changes to on official program
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 cs__col3 mb__20">
                                <div class="userBadges__singleBadge d__flex">
                                    <div class="badge__icon">
                                        <img src="assets/img/icons/bg__icon6.png" alt="">
                                    </div>
                                    <div class="badge__info">
                                        <h6>Collaborator</h6>
                                        <p>
                                            Make Changes to another user's 
                                            program
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>