  <!-- About us hero banner start -->
  <div class="aboutusHeroBanner">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-7">
                <div class="aboutusHeroBanner__leftContent">
                    <h3 class="aboutusHeroBanner__title ht__color">
                        we provide world‑class education
                        for anyone, anywhere.
                    </h3>
                    <p class="aboutusHeroBanner__text pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed 
                        diam voluptua. At vero eos et.
                    </p>
                    <button class="aboutusHeroBanner__button btn__bgg__big">Read more</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="aboutusHeroBanner__bannerImg">
                    <img src="assets/img/courses-banner.png" alt="Courses banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About us hero banner ends -->

<!--Learning Rrsources area start -->
<div class="learningResources">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6 tm__o2">
                <div class="learningResources__bannerImg">
                    <img src="assets/img/learingresourses-banner.png" alt="Learning banner">
                </div>
            </div>
            <div class="col-md-6 tm__o1">
                <h3 class="learningResources__title ht__color">
                    A personalized learning resource for all ages.
                </h3>
                <p class="learningResources__text pt__color">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed 
                    diam voluptua. At vero eos et.
                </p>
                <button class="learningResources__button btn__bgg__big">Read more</button>
            </div>
        </div>
    </div>
</div>
<!--Learning  Rrsources area end -->


<!-- Free tools area start -->
<div class="freeTools">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-7">
                <div class="freeTools__leftContent">
                    <h3 class="freeTools__title ht__color">
                        Free tools for parents and <br> teachers.
                    </h3>
                    <p class="freeTools__text pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed 
                        diam voluptua. At vero eos et.
                    </p>
                    <button class="freeTools__button btn__bgg__big">Read more</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="freeTools__bannerImg">
                    <img src="assets/img/ft-banner.png" alt="Courses banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Free tools area end -->

<div class="height__gap100"></div>

<!-- Globar class room area start -->
<div class="globalClassroom" style="background: url('assets/img/gc--banner.png');background-position: center;background-size: cover;">
    <div class="container">
        <div class="globalClassroom__content text-center">
            <div class="globalClassroom__title">
                <h3 class="ht__color">
                    You’re joining a global classroom
                </h3>
            </div>
            <div class="globalClassroom__text">
                <p class="pt__color">
                    Millions of students from all over the world, each with their own unique story, 
                    learn at their own pace on Khan Academy every single day. Our resources
                    are being translated into more than 36 languages in addition to the 
                    Spanish, French, and Brazilian Portuguese versions of our site.
                </p>
            </div>
            <div class="globalClassroom__btn">
                <button class="freeTools__button btn__bgg__big">Learn more about their stories</button>
            </div>
        </div>
    </div>
</div>
<!-- Globar class room area end -->

<!-- Humble beginning  area start -->
<div class="humbleBeginning">
    <div class="container">
        <div class="humbleBeginning__content text-center">
            <div class="humbleBeginning__title">
                <h3 class="ht__color">
                    From humble beginnings to a world-class team
                </h3>
            </div>
            <div class="humbleBeginning__text">
                <p class="pt__color">
                    What started as one man tutoring his cousin has grown into a more than 150-person organization. 
                    We’re a diverse team that has come together to work on an audacious mission: 
                    to provide a free world-class education for anyone, anywhere. We are developers, 
                    teachers, designers, strategists, scientists, and content specialists who 
                    passionately believe in inspiring the world to learn. A few great people 
                    can make a big difference.
                </p>
            </div>
            <div class="humbleBeginning__btn">
                <button class="freeTools__button btn__bgg__big">Donate</button>
            </div>
        </div>
    </div>
</div>
<!-- Humble beginning  area end -->