<!-- Pricing hero banner start -->
<div class="pricingHeroBanner">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-7">
                <div class="pricingHeroBanner__leftContent">
                    <h3 class="pricingHeroBanner__title ht__color">
                        The right plan for your needs.
                    </h3>
                    <p class="pricingHeroBanner__text pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    </p>
                    <button class="pricingHeroBanner__button btn__bgg__big">Learners</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="pricingHeroBanner__bannerImg">
                    <img src="assets/img/pricehero-banner.png" alt="Courses banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing hero banner ends -->

<div class="height__gap100"></div>            

<!-- Pricing plan area start -->
<div class="pricingPlan">
    <div class="container">
        <div class="pricingPlan__titleArea">
            <h3 class="pricingPlan__title ht__color">
                Our Plan's For You
            </h3>
            <p class="pricingPlan__text pt__color">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            </p>
        </div>
        <div class="pricingPlan__content">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="pricingPlan__singlePackage">
                        <div class="pricingPlan__packageTitle text-center">
                            <h5 class="ht__color">The Kid's Package </h5>
                            <p>
                                For kid's from early moths to 5th grade
                            </p>
                        </div>
                        <div class="pricingPlan__packageCard">
                            <div class="pricingPlan__cardHeader">
                                <h6 class="ht__color">Package For Kid's</h6>
                                <p class="pricingPlan__packageAmount pl__0"><span class="pricingPlan__currencySimble"></span> Free <span class="pricingPlan__packageDuration"></span></p>
                            </div>
                            <ul class="pricingPlan__packageFeatures">
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>All Courses</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Math classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Test preparation</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Biology Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Recorded Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Live Chat solution </span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot cs__margin">
                                    <span>Live Video Class</span>
                                </li>
                            </ul>
                            <button class="pricingPlan__packageButton btn__bgg__big">
                                Start Now
                            </button>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricingPlan__singlePackage">
                        <div class="pricingPlan__packageTitle text-center">
                            <h5 class="ht__color">The Growth</h5>
                            <p>
                                For 5th grade to 6th grade
                            </p>
                        </div>
                        <div class="pricingPlan__packageCard">
                            <div class="pricingPlan__cardHeader">
                                <h6 class="ht__color">Package Growth</h6>
                                <p class="pricingPlan__packageAmount"><span class="pricingPlan__currencySimble">$</span> 70 <span class="pricingPlan__packageDuration">/6 months</span></p>
                            </div>
                            <ul class="pricingPlan__packageFeatures">
                                <li class="pricingPlan__packageSignlefeature notAvailable__dot">
                                    <span>All Courses</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Math classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature notAvailable__dot">
                                    <span>Test preparation</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Biology Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature notAvailable__dot">
                                    <span>Recorded Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature notAvailable__dot">
                                    <span>Live Chat solution </span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Live Video Class</span>
                                </li>
                            </ul>
                            <button class="pricingPlan__packageButton btn__bgg__big">
                                Buy Now
                            </button>
                            <p class="pricingPlan__trialButton">Try Free 7 day's trial</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricingPlan__singlePackage">
                        <div class="pricingPlan__packageTitle text-center">
                            <h5 class="ht__color">The Silver</h5>
                            <p>
                                For 6th grade to 7th grade
                            </p>
                        </div>
                        <div class="pricingPlan__packageCard">
                            <div class="pricingPlan__cardHeader">
                                <h6 class="ht__color">Package Silver</h6>
                                <p class="pricingPlan__packageAmount"><span class="pricingPlan__currencySimble">$</span> 120 <span class="pricingPlan__packageDuration">/6 months</span></p>
                            </div>
                            <ul class="pricingPlan__packageFeatures">
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>All Courses</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Math classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature notAvailable__dot">
                                    <span>Test preparation</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Biology Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature notAvailable__dot">
                                    <span>Recorded Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Live Chat solution </span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Live Video Class</span>
                                </li>
                            </ul>
                            <button class="pricingPlan__packageButton btn__bgg__big">
                                Buy Now
                            </button>
                            <p class="pricingPlan__trialButton">Try Free 7 day's trial</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricingPlan__singlePackage">
                        <div class="pricingPlan__packageTitle text-center">
                            <h5 class="ht__color">The Ultimated</h5>
                            <p>
                                All Grade's and all access are Unlimited
                            </p>
                        </div>
                        <div class="pricingPlan__packageCard">
                            <div class="pricingPlan__cardHeader">
                                <h6 class="ht__color">Package Ultimated</h6>
                                <p class="pricingPlan__packageAmount"><span class="pricingPlan__currencySimble">$</span> 150 <span class="pricingPlan__packageDuration">/6 months</span></p>
                            </div>
                            <ul class="pricingPlan__packageFeatures">
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>All Courses</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Math classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Test preparation</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Biology Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Recorded Classes</span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Live Chat solution </span>
                                </li>
                                <li class="pricingPlan__packageSignlefeature available__dot">
                                    <span>Live Video Class</span>
                                </li>
                            </ul>
                            <button class="pricingPlan__packageButton btn__bgg__big">
                                Buy Now
                            </button>
                            <p class="pricingPlan__trialButton">Try Free 7 day's trial</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing plan area end -->

<div class="height__gap150"></div>   

<!-- Kids package area start -->
<div class="kidsPackage">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6">
                <div class="kidsPackage__details">
                    <h3 class="kidsPackage__title">
                        About The Kid's Package 
                    </h3>
                    <p class="kidsPackage__text">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                        magna aliquyam erat, sed diam voluptua. At vero eos et 
                        accusam et justo duo dolores et ea rebum. Stet clita 
                        kasd gubergren, no sea takimata.
                    </p>
                    <p class="kidsPackage__viewButton pr__color">
                        View more
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kidsPackage__banner">
                    <img src="assets//img/kids-banner.png" alt="Kids banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kids package area end -->

<div class="height__gap50"></div>   

<!-- Growth package area start -->
<div class="growthPackage">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6 tm__o2">
                <div class="growthPackage__banner">
                    <img src="assets//img/growth-banner.png" alt="Kids banner">
                </div>
            </div>
            <div class="col-md-6 tm__o1">
                <div class="growthPackage__details">
                    <h3 class="growthPackage__title">
                        About The Growth Package 
                    </h3>                    
                    <p class="growthPackage__text">    
                        For 5th grade to 6th grade, consetetur sadipscing elitr, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                        ma gna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                    </p>
                    <p class="growthPackage__viewButton pr__color">
                        View more
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Growth package area end -->

<div class="height__gap50"></div>   

<!-- Silver package area start -->
<div class="silverPackage">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6">
                <div class="silverPackage__details">
                    <h3 class="silverPackage__title">
                        About The Silver Package
                    </h3>
                    <p class="silverPackage__text">
                        6th grade to 7th grade, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                         invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                         At vero eos et accusam et justo duo dolores et ea rebum. 
                         Stet clita kasd gubergren.
                    </p>
                    <p class="silverPackage__viewButton pr__color">
                        View more
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="silverPackage__banner">
                    <img src="assets//img/silver-banner.png" alt="Kids banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Silver package area start -->

<div class="height__gap50"></div>  

<!-- Ultimate package area start -->
<div class="ultimatePackage">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-6 tm__o2">
                <div class="ultimatePackage__banner">
                    <img src="assets//img/ultimate-banner.png" alt="Kids banner">
                </div>
            </div>
            <div class="col-md-6 tm__o1">
                <div class="ultimatePackage__details">
                    <h3 class="ultimatePackage__title">
                        About The ultimate Package 
                    </h3>                    
                    <p class="ultimatePackage__text">    
                        6th grade to 7th grade, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat
                    </p>
                    <p class="ultimatePackage__viewButton pr__color">
                        View more
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ultimate package area end -->

<div class="height__gap50"></div>