<!-- Courses hero banner start -->
<div class="coursesHeroBanner">
    <div class="container">
        <div class="row ai__center">
            <div class="col-md-7">
                <div class="coursesHeroBanner__leftContent">
                    <h3 class="coursesHeroBanner__title ht__color">
                        The right courses for you.
                    </h3>
                    <p class="coursesHeroBanner__text pt__color">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                    <button class="coursesHeroBanner__button btn__bgg__big">Learners</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="coursesHeroBanner__bannerImg">
                    <img src="assets/img/ft-banner.png" alt="Courses banner">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing hero banner ends -->

<div class="height__gap100"></div>

<!--Courses details area start  -->
<div class="coursesDetails">
    <div class="container">
        <div class="coursesDetails__titleArea">
            <h3 class="ht__color">
                Our All Courses For You.
            </h3>
            <p class="pt__color">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 cs__br">
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Math: Pre-K - 8th grade</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Up to 1st grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">2nd grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">3rd grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">4th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">5th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">6th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">7th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">8th grade</span>
                        </li>
                    </ul>
                </div>
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Math: Get ready courses</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for 3rd grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for 4th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for 5th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for 6th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for 7th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for 8th grade</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for Algebra 1</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Get ready for Geometry</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 cs__br">
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Math: high school & college</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Algebra 1</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Geometry</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Algebra 2</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Trigonometry</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Precalculus</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Statistics & probability</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Calculus AB</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Statistics</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Multivariable calculus</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Differential equations</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Linear algebra</span>
                        </li>
                    </ul>
                </div>
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Test prep</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">SAT</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">LSAT</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Praxis Core</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 cs__br">
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Science</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Biology</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">High school biology</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Biology</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Chemistry</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Chemistry beta</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Chemistry</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Physics</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Physics 1</span>
                        </li>
                    </ul>
                </div>
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Computing</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Computer programming</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                AP®︎/College Computer
                                Science Principles
                            </span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                AP®︎/College Computer
                                Science Principles
                            </span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Chemistry</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Chemistry beta</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Chemistry</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Physics</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Physics 1</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 cs__br">
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Arts & humanities</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">US history</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College US History</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">US government and civics</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                AP®︎/College US Government
                                & Politics
                            </span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">World History Project - Origins</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Art history</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Art History</span>
                        </li>
                    </ul>
                </div>
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Economics</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Macroeconomics</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                AP®︎/College
                                Macroeconomics
                            </span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Microeconomics</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                AP®︎/College
                                Microeconomics
                            </span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">World History Project - Origins</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Art history</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">AP®︎/College Art History</span>
                        </li>
                    </ul>
                </div>
                <div class="coursesDetails__singleCourse">
                    <div class="coursesDetails__courseTitle">
                        <h6 class="pr__color">Life Skill</h6>
                    </div>
                    <ul class="coursesDetails__courseList">
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Social & emotional learning</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                Careers
                            </span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">Personal finance</span>
                        </li>
                        <li class="coursesDetails__courseName">
                            <span class="ht__color">
                                Growth' mindset
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Courses details area end  -->


<div class="height__gap150"></div>