<div class="videoPlayer">
    <div class="row">
        <div class="col-md-12 col-lg-8 cs__col9">
            <div class="videoPlayer__playerWrapper">
                <div class="videoPlayer__courseTitle">
                    <h5 class="ht__color f__600">
                        Math: Pre-K - 8th grade
                    </h5>
                </div>
                <div class="videoPlayer__mainPlayer mt__10">
                    <iframe width="100%" height="545"
                         src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
                    </iframe>
                    <div class="videoPlayer__videoTitle p__relative mt__10">
                        <h5 class="ht__color f__600">
                            Addition and subtraction intro
                        </h5>
                        <p class="tacher__name gr__color">
                            Mr.josh Mathew 
                        </p>
                        <p class="video__views gr__color">
                            138,000 Views
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 lt__none cs__col3">
            <div class="videoPlayer__relatedVideo pt__30">
                <div class="videoPlayer__relatedVideoTitle mb__20">
                    <h6 class="ht__color underline">
                        Related video 
                    </h6>
                </div>
                <div class="videoPlayer__singleRelatedVideo">
                    <div class="videoPlayer__singleRelatedVideoheader">
                        <div class="videoPlayer__singleRelatedVideoinfoButton">
                            <span class="material-icons">
                                info
                            </span>
                        </div>
                        <div class="videoPlayer__singleRelatedVideoshareButton">
                            <span class="material-icons">
                                more_vert
                            </span>  
                        </div>  
                    </div>
                    <div class="videoPlayer__singleRelatedVideosingleClass">
                        <div class="videoPlayer__singleRelatedVideoclassBanner">
                            <img src="assets/img/rclass1.png" alt="Class banner">
                            <div class="videoPlayer__singleRelatedVideoclassDuration">
                                <span>28:49</span>
                            </div>
                        </div>
                        <div class="videoPlayer__singleRelatedVideodetails">
                            <p class="videoPlayer__singleRelatedVideoclassTitle">Addition and subtraction intro</p>
                            <p class="videoPlayer__singleRelatedVideoview">240,000 Views</p>
                        </div>
                    </div>
                </div>
                <div class="videoPlayer__singleRelatedVideo">
                    <div class="videoPlayer__singleRelatedVideoheader">
                        <div class="videoPlayer__singleRelatedVideoinfoButton">
                            <span class="material-icons">
                                info
                            </span>
                        </div>
                        <div class="videoPlayer__singleRelatedVideoshareButton">
                            <span class="material-icons">
                                more_vert
                            </span>  
                        </div>  
                    </div>
                    <div class="videoPlayer__singleRelatedVideosingleClass">
                        <div class="videoPlayer__singleRelatedVideoclassBanner">
                            <img src="assets/img/rclass2.png" alt="Class banner">
                            <div class="videoPlayer__singleRelatedVideoclassDuration">
                                <span>28:49</span>
                            </div>
                        </div>
                        <div class="videoPlayer__singleRelatedVideodetails">
                            <p class="videoPlayer__singleRelatedVideoclassTitle">Addition and subtraction intro</p>
                            <p class="videoPlayer__singleRelatedVideoview">240,000 Views</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="videoPlayer__relatedVideo mt__30">
        <div class="videoPlayer__relatedVideoTitle mb__20">
            <h6 class="ht__color underline">
                Related video 
            </h6>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="videoPlayer__singleRelatedVideo">
                    <div class="videoPlayer__singleRelatedVideoheader">
                        <div class="videoPlayer__singleRelatedVideoinfoButton">
                            <span class="material-icons">
                                info
                            </span>
                        </div>
                        <div class="videoPlayer__singleRelatedVideoshareButton">
                            <span class="material-icons">
                                more_vert
                            </span>  
                        </div>  
                    </div>
                    <div class="videoPlayer__singleRelatedVideosingleClass">
                        <div class="videoPlayer__singleRelatedVideoclassBanner">
                            <img src="assets/img/rclass3.png" alt="Class banner">
                            <div class="videoPlayer__singleRelatedVideoclassDuration">
                                <span>28:49</span>
                            </div>
                        </div>
                        <div class="videoPlayer__singleRelatedVideodetails">
                            <p class="videoPlayer__singleRelatedVideoclassTitle">Addition and subtraction intro</p>
                            <p class="videoPlayer__singleRelatedVideoview">240,000 Views</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="videoPlayer__singleRelatedVideo">
                    <div class="videoPlayer__singleRelatedVideoheader">
                        <div class="videoPlayer__singleRelatedVideoinfoButton">
                            <span class="material-icons">
                                info
                            </span>
                        </div>
                        <div class="videoPlayer__singleRelatedVideoshareButton">
                            <span class="material-icons">
                                more_vert
                            </span>  
                        </div>  
                    </div>
                    <div class="videoPlayer__singleRelatedVideosingleClass" [routerLink]="['/dashboard/videoplayer']">
                        <div class="videoPlayer__singleRelatedVideoclassBanner">
                            <img src="assets/img/rclass4.png" alt="Class banner">
                            <div class="videoPlayer__singleRelatedVideoclassDuration">
                                <span>28:49</span>
                            </div>
                        </div>
                        <div class="videoPlayer__singleRelatedVideodetails">
                            <p class="videoPlayer__singleRelatedVideoclassTitle">Addition and subtraction intro</p>
                            <p class="videoPlayer__singleRelatedVideoview">240,000 Views</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="videoPlayer__singleRelatedVideo">
                    <div class="videoPlayer__singleRelatedVideoheader">
                        <div class="videoPlayer__singleRelatedVideoinfoButton">
                            <span class="material-icons">
                                info
                            </span>
                        </div>
                        <div class="videoPlayer__singleRelatedVideoshareButton">
                            <span class="material-icons">
                                more_vert
                            </span>  
                        </div>  
                    </div>
                    <div class="videoPlayer__singleRelatedVideosingleClass" [routerLink]="['/dashboard/videoplayer']">
                        <div class="videoPlayer__singleRelatedVideoclassBanner">
                            <img src="assets/img/rclass5.png" alt="Class banner">
                            <div class="videoPlayer__singleRelatedVideoclassDuration">
                                <span>28:49</span>
                            </div>
                        </div>
                        <div class="videoPlayer__singleRelatedVideodetails">
                            <p class="videoPlayer__singleRelatedVideoclassTitle">Addition and subtraction intro</p>
                            <p class="videoPlayer__singleRelatedVideoview">240,000 Views</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="videoPlayer__singleRelatedVideo">
                    <div class="videoPlayer__singleRelatedVideoheader">
                        <div class="videoPlayer__singleRelatedVideoinfoButton">
                            <span class="material-icons">
                                info
                            </span>
                        </div>
                        <div class="videoPlayer__singleRelatedVideoshareButton">
                            <span class="material-icons">
                                more_vert
                            </span>  
                        </div>  
                    </div>
                    <div class="videoPlayer__singleRelatedVideosingleClass" [routerLink]="['/dashboard/videoplayer']">
                        <div class="videoPlayer__singleRelatedVideoclassBanner">
                            <img src="assets/img/rclass6.png" alt="Class banner">
                            <div class="videoPlayer__singleRelatedVideoclassDuration">
                                <span>28:49</span>
                            </div>
                        </div>
                        <div class="videoPlayer__singleRelatedVideodetails">
                            <p class="videoPlayer__singleRelatedVideoclassTitle">Addition and subtraction intro</p>
                            <p class="videoPlayer__singleRelatedVideoview">240,000 Views</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
