<div class="recordedClasses">
    <div class="recordedClasses__singleCourse">
        <div class="recordedClasses__courseTitle">
            <h5 class="ht__color">Math: Pre-K - 8th grade</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative" [routerLink]="['/dashboard/videoplayer']">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass1.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Addition and subtraction intro</p>
                        <p class="recordedClasses__view">240,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass2.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Place value (tens and hundreds)</p>
                        <p class="recordedClasses__view">540,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass3.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Addition and subtraction within 20</p>
                        <p class="recordedClasses__view">670,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass4.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Counting and place value</p>
                        <p class="recordedClasses__view">440,000 Views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recordedClasses__singleCourse">
        <div class="recordedClasses__courseTitle">
            <h5 class="ht__color">Math: Get ready courses</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass5.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Geometry</p>
                        <p class="recordedClasses__view">240,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass6.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Addition and subtraction within 100</p>
                        <p class="recordedClasses__view">540,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass7.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Addition and subtraction within 1000</p>
                        <p class="recordedClasses__view">670,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass8.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Measurement and data</p>
                        <p class="recordedClasses__view">440,000 Views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recordedClasses__singleCourse">
        <div class="recordedClasses__courseTitle">
            <h5 class="ht__color">Math: high school & college</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass9.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Counting and place value</p>
                        <p class="recordedClasses__view">640,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass10.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Addition and subtraction</p>
                        <p class="recordedClasses__view">940,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass11.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Measurement and geometry</p>
                        <p class="recordedClasses__view">450,000 Views</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 xxl__col mb__15">
                <div class="recordedClasses__singleClass p__relative">
                    <div class="recordedClasses__header">
                        <div class="recordedClasses__infoButton">
                            <span class="material-icons">info</span>
                        </div>
                        <div class="recordedClasses__shareButton">
                            <span class="material-icons">more_vert</span>
                        </div>
                    </div>
                    <div class="recordedClasses__classBanner">
                        <img src="assets/img/rclass12.png" alt="Class banner">
                        <div class="recordedClasses__classDuration">
                            <span>28:49</span>
                        </div>
                    </div>
                    <div class="recordedClasses__details">
                        <p class="recordedClasses__classTitle">Addition and subtraction</p>
                        <p class="recordedClasses__view">340,000 Views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>